*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 100vh;
}
#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
}
#container1{
    background-color:rgb(209, 220, 231);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    padding: 6rem;
}
#container1>div:nth-child(2){
    /* padding-left: 20px; */
    width: 100%;
}
#container1>div:nth-child(2)>button{
    border-radius: 25px;
    background-image: linear-gradient(to right,#f7186a,#ed6ea0,#ec8c69,#fbb03b);
    padding: 10px 20px;
    align-self: flex-start;
}
#container1>div:nth-child(1){
   display: flex;
   align-items: center;
   gap: 25px;
}
#container1>div:nth-child(1)>textarea{
    width: 400px;
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 2px black;
    border: none;
}
#container2{
    display: flex;
    align-items: center;
    flex-direction: column;

}
#container2>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
@media screen and (max-width:991px) {
    #container{
    display: grid;
    grid-template-columns: 1fr;
    
}
}
.grid-added{
    display: none;
    gap: 2rem;
    grid-template-columns: repeat(3,150px);
    padding-top:5rem ;
    min-width: 200px;
}
.para{
    padding: 6px;
    word-wrap: break-word; /* Ensure long words wrap */
    overflow-wrap: break-word; /* Ensure long words wrap */
    overflow: hidden; /* Prevent overflow */
    font-weight: 600;
}
.positioning{
    position: absolute;
    top:5px;
    right: 5px;
    background-color: transparent;
    border: none;
}
